/*Start Marco Ferdinandi*/

#p101{
    position:absolute;
    bottom:0px;
    width:98vw;
    max-width: 650px;
    height:41vh;
    padding:0;
    margin:0 auto;
    font-size:0;
    text-align:center;
    display:inline-block;
    z-index:-1;

}


#descrizione_programma{
    position:absolute;
    top:68%;
    bottom:1%;
    /*left:5%;
    right:5%;*/
    width:98%;
    max-width:900px;
    font-size:15px;
    border: 1px solid grey;
    background-color:white;
    border-radius:5px;
    overflow:auto;
    text-align: left;
    padding: 5px;

}

#caricaExistingPrograms{
    position:absolute;
    top:0%;
    height:10%;
    left:0%;
    right:0%;
    width:100%;
    max-width:180px;
}


.button {
    padding: 4px 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #1a2a4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*End Marco Ferdinandi*/